.card {
    opacity: 92%;
}

.whiten {
    color: aliceblue;
}

.dark-mode {
    background-image:url(/static/img/homehood.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.dark-mode-imbo {
    background-image:url(/static/img/homehood.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}


.underline {
    text-decoration: underline;
}

.off-white {
    color: rgb(0, 0, 0);
}